

.searchWrapper{
    width: inherit;
    display: flex;
    justify-content: space-between;
    margin: 45px 0px 30px 0px;

}

.searchInput{
    display: block;
    padding: 10px 25px;
    height: 40px;
    width: 30vw;
    border-radius: 2px;
    background:linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #21212159; 
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    
}



.logo *{
  
    width: 40px;
    height: 40px;
}

.cardWrapper{
    display: grid;
    place-content: center center;
    grid-template-columns: repeat( auto-fit ,250px);


    gap:50px;
    

}


@media all and (max-width: 720px){
    .cardWrapper{
        /* grid-template-columns: repeat( 1,250px); */
    }

    .searchWrapper{
       flex-direction: column;
       align-items: center;
       
    }
    .searchInput{
        width: 400px;
    }
}

